input[type=text] {
    font-family: monospace;
}

select::-ms-expand {
    width: 12px;
    border: none;
    background: #fff;
}

.active_nav {
    background-color: deepskyblue;
}

.btn-razzle {
    width: 160px !important;
    margin-bottom: 10px;
}

body {
    margin: 10px;
    margin-right: 20px;
    -ms-user-select: none; 
    cursor: default;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul.dropdown-menu {
    font-family: monospace;
        
}

.clickable {
    cursor: pointer;
}

:focus {
    outline: 0;
}

table {
    border: 2px solid darkgray;
    border-collapse: collapse;
    width: 100%;
}

tbody tr:hover {
    background-color: rgb(255,224,224);
}

td, th {
    border: 1px solid darkgray;
    padding: 10px;
}

.funcname {
    font-weight: bold;
}

#funcsummary {

}

.paramdiv {
    margin-top: 20px;
    margin-bottom: 20px;
}


#log {
    overflow: scroll;
    -ms-user-select: element;
    cursor: text;
    font-size: small;
    font-family: monospace;
}

.log_time {
    padding-right: 10px;
    margin-right: 10px;
    background-color: wheat;
}

.log_error {
    color: red;
}

.status {
    color: blue;
}

ul {
    font-family: monospace;
}

td.shrink {
  white-space: nowrap;
  width: 1px;
}

thead {
    background-color: deepskyblue;
}